<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Nice Ride Bike Availability</title>
  <meta name="description" content="TODO description">
  <meta name="author" content="TODO author">

  <link rel="stylesheet" href="../static/styles/main.css">
  
  <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>

  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'>

</head>

<body>

  <!-- <script src="js/scripts.js"></script> -->

  <div id="wrapper">

    <div style="padding-top:5px"></div>

    <h1>Nice Ride Bike Availability</h1>

    <iframe src="../static/pages/map.html" id="map"></iframe>

    <p>Click a station above to see predicted availability of bikes at that station! <a href="http://brendanhasz.github.io">About this dashboard.</a></p>

    <iframe src="../static/pages/availability_001.html" id="plot"></iframe>

  </div>

</body>
</html>
